*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: black;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 62px;
    margin-top: 43px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.icons1{
    margin-right: 30px;
    margin-top: 43px;

}
.icons1 i{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:982px){
    .icons1{
        margin-left: 25px;
    }
}